body {
    background-image: var(--background-image);
    background-repeat: repeat;
}

.battleship {
    box-sizing: border-box;
    color: #0e1530;
}

.battleship.blog {
    width: 546px;
}

.hidden {
    display: none
}

.heading-container h1 {
    text-align: center;
    margin: 0;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #380101
}

.heading-container h3 {
    text-align: center;
    margin: 0;
    font-size: 130%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #380101
}

.choose-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-controls.hidden {
    display: none
}

.choose-container {
    margin-bottom: 13px;
    margin-top: 25px;
}

.choose-map-container {
    float: left;
    text-align: left;
}

.choose-hunt-container {
    float: right;
    text-align: right;
}


.choose-label {
    font-size: 130%;
    font-weight: 900
}

.choose-select {
    font-size: 120%;
    font-weight: bold
}

.player-container {
    display: flex;
    flex-direction: column;
}

.player-container.hidden {
    display: none
}

.player-body {
    display: flex;
    flex-direction: column;
}

.player-main {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 auto;
}

.panel-container {
    width: var(--content-width);
    margin: 0 auto;
}

@media (max-width: 600px) {
    game-container {
        width: var(--content-width);
        margin: 0 auto;
    }
}

@media (max-width: 1023px) {
    .title-wrap {
        width: var(--content-width);
        margin: 0 auto;
        box-sizing: border-box;
    }
}

@media (min-width: 1024px) {

    .player-body {
        flex-direction: row;
        gap: 12px;
    }
}


@media (min-width: 1200px) {

    .battleship,
    .title-wrap,
    .center-title {
        width: 1200px !important;
        margin: 0 auto;
    }
}