@media print {
    /* Hide everything except the map and the "you are here" marker */


    nav a:not(.you-are-here),
    nav div:not(.you-are-here),
    nav button:not(.you-are-here),
    #choose-map-label,
    .panel-controls,
    .status {
        display: none !important;
    }

    #choose-controls {
        display: flex !important;
        justify-content: space-around;
    }

    #chooseMap {
        border: 0 none;
        text-align: center;
        font-size: 200%;
    }

    #chooseMap select {

        -webkit-appearance: none;
        /* Chrome, Safari */
        -moz-appearance: none;
        /* Firefox */
        appearance: none;
        /* S
 tandard */
        background: none;
        /* remove background including arrow in some browsers */
        background-color: white;
        /* restore background if needed */
        padding-right: 1rem;
        /* prevent text from overlapping */
        border: 1px solid #ccc;
        /* keep a visible border */
    }

    div.tab-bar-container {
        justify-content: space-between !important;
        align-items: stretch !important;
    }

    div.tab-bar-container nav.tab-bar.tab-bar.main {
        display: flex !important;
        justify-content: flex-end !important;
        align-items: stretch !important;
    }

    .title-header {
        color: #000 !important;
        font-size: 150% !important;
    }

    .logo {
        height: 120px !important;
        width: 120px !important;
    }

    .tab-bar.main .you-are-here {
        text-align: right !important;
        padding-top: 2rem;
        margin-bottom: -3rem;
        border-radius: 0 0;
        border: 0 none;
        color: black;
        transition: none;
    }

    .you-are-here {
        font-size: 150% !important;
    }


    .board-wrap {
        background: white;
        border: 0 none;
        border-radius: 0;
    }

    .info-wrap {
        background: white;
        border: 0 none;
    }



    .cell {

        border: 1px solid black;
    }

    .cell.land.light {
        background: #b4ffc9 !important;

        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.land.dark {
        background: #99f0a4 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.sea.light {
        background: #9ad8ff !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.sea.dark {
        background: #87d1ff !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.rightEdge.light {
        border-right: 3px solid #024 !important;
    }

    .cell.bottomEdge.light {
        border-bottom: 3px solid #024 !important;
    }

    .cell.rightEdge.dark {
        border-right: 3px solid #000 !important;
    }

    .cell.bottomEdge.dark {
        border-bottom: 3px solid #000 !important;
    }

    .cell.leftEdge.light {
        border-left: 3px solid #000 !important;
    }

    .cell.leftEdge.dark {
        border-left: 3px solid #000 !important;
    }



}