@media print {
    /* Hide everything except the map and the "you are here" marker */


    nav a:not(.you-are-here),
    nav div:not(.you-are-here),
    nav button:not(.you-are-here),
    #choose-map-label,
    .panel-controls,
    .status {
        display: none !important;
    }

    /*
    #chooseMap { 
        display: none;
    }
 */
    #chooseMap::after {
        content: attr(value);
        ;
        display: block;
        ;
        font-size: 2rem;
        ;
        font-weight: bold;
        ;
        margin: 1rem 0;
        ;
    }

    .board-wrap {
        background: white;
        border: 0 none;
        border-radius: 0;
    }

    .info-wrap {
        background: white;
        border: 0 none;
    }



    .cell {

        border: 1px solid black;
    }

    .cell.land.light {
        background: #a4e2a9 !important;

        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.land.dark {
        background: #89d394 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.sea.light {
        background: #8ad8ff !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.sea.dark {
        background: #77c1ff !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .cell.rightEdge.light {
        border-right: 3px solid #024 !important;
    }

    .cell.bottomEdge.light {
        border-bottom: 3px solid #024 !important;
    }

    .cell.rightEdge.dark {
        border-right: 3px solid #000 !important;
    }

    .cell.bottomEdge.dark {
        border-bottom: 3px solid #000 !important;
    }

    .cell.leftEdge.light {
        border-left: 3px solid #000 !important;
    }

    .cell.leftEdge.dark {
        border-left: 3px solid #000 !important;
    }



}